body {
  background-image:url('https://img.freepik.com/free-photo/empty-white-grey-studio-backdrop-background_1258-83076.jpg?w=1800&t=st=1678448141~exp=1678448741~hmac=48807156315454ffbd0f5ffa426bb2d62ed484b298d01fa1c5efe90527abe6df');
  text-align: ;
}
h1 {
  color:black ;
  text-align:center ;
  background-color:#e3b200 ;
  padding: 40px;
  font-family: 'Oswald', sans-serif;font-size: 50px

}
p {
  color: ;
  text-align: ;
  background-color:#e3b200 ;
  padding: px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:;#
}
li a:hover {
  background-color: #2b2b2b;
}
li {
  float: left;
}

li a {
  display: block;
  color: #e3b200;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-family:'Oswald';
}


}
li a:hover:not(.active) {
  background-color: #;
}
.active {
  background-color: ;
}

img {
	display: block;
	margin-left:auto;
	margin-right:auto;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

* {
  box-sizing: border-box;
}

.ia {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 50px;
}

.ct{
	text-align: center;
}

.ib{
	border: 5px solid #555;
}

.sb {
	background-color: #1a1a1a; 
	border: 5px outset grey;
	padding:20px;
}

a:link {
  color: #fcc203;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #fcc203;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #fcc203;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #fcc203;
  background-color: transparent;
  text-decoration: underline;
}

.font {
	font-family:'Barlow Condensed'
}

.cfont {
	font-family: 'Barlow Condensed';
	text-align: center;
}



